.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 25px;
}

.container .checkout-process {
  background-color: var(--primary-bg-color);
  border-radius: var(--main-border-radius);
  box-shadow: var(--primary-box-shadow);
  border: var(--main-border);
  padding: 30px;
  min-height: 400px;
}

:host ::ng-deep .p-stepper-header {
  padding: 10px;
  background-color: transparent;
}

:host ::ng-deep .p-stepper-header .p-stepper-action {
  background-color: transparent;
}

:host ::ng-deep .p-stepper-number {
  margin-right: 5px;
  border: var(--main-border);
  color: var(--primary-text-color);
  background-color: transparent;
}

:host ::ng-deep .p-stepper-header.p-highlight .p-stepper-number {
  background-color: #1a56db3d;
}

:host ::ng-deep .p-stepper-title {
  color: var(--primary-text-color);
}

:host ::ng-deep .p-stepper-header.p-highlight .p-stepper-title {
  color: var(--primary-color);
}

:host ::ng-deep .p-stepper-separator {
  margin-left: 30px;
}

:host ::ng-deep .p-button {
  padding: 5px 20px;
  margin-left: 20px;
  overflow: hidden;
}

:host ::ng-deep .p-stepper-toggleable-content {
  background-color: transparent;
}

form {
  padding: 10px 30px;
  min-height: 200px;
}

form .box {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

form .box .primary-input {
  width: 100%;
}

.alert {
  padding: 20px 30px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.summary {
  background-color: var(--primary-bg-color);
  border-radius: var(--main-border-radius);
  height: fit-content;

  border: var(--main-border);
  padding: 20px 10px;
}

.summary .title {
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.summary .box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.box .key {
  color: var(--primary-text-color);
}

.box .value {
  color: var(--secondary-text-color);
  font-weight: 600;
}

.box .savings {
  color: green;
}

.box.total-cost {
  color: var(--primary-text-color);
  font-weight: 700;
  margin-top: 5px;
}

.summary .continue {
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  color: var(--primary-color);
}

.continue i {
  margin-left: 5px;
}





.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 0.6);
}

.popup {
  position: relative;
  margin: 20px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--main-border-radius);
  background-color: var(--primary-bg-color);
}

.loading,
.success {
  text-align: center;
  color: var(--secondary-text-color);
}

.loading .spinner i {
  margin-right: 5px;
}

.success p {
  max-width: 400px;
  line-height: 1.5;
  margin-top: 10px;
}

.success button {
  margin-top: 15px;
  padding: 5px 10px;
}

.success .close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: var(--primary-text-color);
}
