.level-one {
  background-color: var(--primary-bg-color);
  padding: 20px 0;
  margin-top: 60px;
}

.level-one .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.col-1 .title,
.col-2 .title,
.col-3 .title {
  font-size: 14px;
  font-weight: 700;
  margin: 20px 0;
  color: var(--primary-text-color);
}

.col-1 ul,
.col-2 ul,
.col-3 ul {
  list-style: none;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.col-1 ul li,
.col-2 ul li,
.col-3 ul li {
  margin-bottom: 10px;
}

.col-3 ul li i {
  margin-right: 4px;
}

/* .col-3 .social-box {
  height: 60px;
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.social-box a {
  text-decoration: none;
  transition: var(--main-transition);
}

.social-box a:hover {
  transform: scale(1.1);
} */

.col-4 .newsletter {
  width: 100%;
  margin-bottom: 40px;
}

.newsletter .email-box {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.email-box label {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-text-color);
}

.email-box input {
  background-color: var(--input-bg-color);
  border-radius: var(--main-border-radius);
  color: var(--secondary-text-color);
  border: var(--main-border);
  padding: 10px;
  outline: none;
}

.newsletter button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.col-4 {
  margin-top: 20px;
}

.col-4 .our-apps {
  display: flex;
  flex-direction: column;
}

.our-apps .title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--primary-text-color);
}

.our-apps .description {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.our-apps .app {
  border-radius: var(--main-border-radius);
  background-color: #1e2330;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.app .text span {
  font-size: 10px;
  margin-bottom: 2px;
}

.app .text p {
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 992px) {
  .level-one .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .level-one .container {
    grid-template-columns: 1fr;
  }
  .col-1 .title,
  .col-2 .title,
  .col-3 .title {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0;
    color: var(--primary-text-color);
  }
  .col-1 ul,
  .col-2 ul,
  .col-3 ul {
    list-style: none;
    font-size: 16px;
    color: var(--secondary-text-color);
  }
}
