<div class="level-one">
  <div class="container">
    <div class="col-1">
      <p class="title">MAKE MONEY WITH US</p>
      <ul>
        <li>Sell on our Digital Platform</li>
        <li>Sell on our Marketplace</li>
        <li>Advertise your products</li>
        <li>Open an Shop</li>
      </ul>
      <p class="title">COMPANY</p>
      <ul>
        <li>About Store Marketplace</li>
        <li>Our Warehouse</li>
        <li>Our Brands</li>
        <li>Shipping</li>
        <li>Careers</li>
      </ul>
    </div>

    <div class="col-2">
      <p class="title">PAYMENT METHODS</p>
      <ul>
        <li>Visa & Mastercard</li>
        <li>Amex Card</li>
        <li>Platinum Visa</li>
        <li>Gift Cards</li>
        <li>Shop with Points</li>
      </ul>
      <p class="title">ORDERS AND SHIPMENT</p>
      <ul>
        <li>MY Account</li>
        <li>Orders Shipment</li>
        <li>Financing Methods</li>
      </ul>
    </div>

    <div class="col-3">
      <p class="title">CONTACT US</p>
      <ul>
        <li>61671 Beni Mazar - Minya - Egypt</li>
        <li><i class="fa-regular fa-envelope"></i> am7000000007&#64;gmail.com</li>
        <li><i class="fa-solid fa-mobile-screen"></i> +20 120 480 6114</li>
      </ul>
      <!-- <div class="social-box">
        <a pRipple href="https://www.facebook.com/profile.php?id=61553970730584"><img src="images/icons/facebook.png" alt="facebook"></a>
        <a pRipple href="https://github.com/ahmedMostafa707"><img src="images/icons/github.png" alt="github"></a>
        <a pRipple href="https://www.linkedin.com/in/ahmed-mostafa707/"><img src="images/icons/linkedin.png" alt="linkedin"></a>
        <a pRipple href="https://x.com/AhmedMosta52467"><img src="images/icons/twitter.png" alt="twitter"></a>
      </div> -->
    </div>

    <div class="col-4">
      <div class="newsletter">
        <div class="email-box">
          <label for="email">GET THE LATEST DEALS AND MORE</label>
          <input type="email" id="email" placeholder="Enter your email address">
        </div>
        <button pRipple class="primary-btn">Subscribe</button>
      </div>
      <div class="our-apps">
        <p class="title">OUR APPS</p>
        <p class="description">Try our sameday shipping feature, manage regisries and save payment info.</p>
        <a pRipple class="app" target="_blank" href="https://play.google.com">
          <img src="images/icons/google-play.png" alt="google-play">
          <div class="text">
            <span>Download on the</span>
            <p>Google Play</p>
          </div>
        </a>
        <a pRipple class="app" target="_blank" href="https://www.apple.com/eg/app-store">
          <img src="images/icons/apple-logo.png" alt="google-play">
          <div class="text">
            <span>Download on the</span>
            <p>AppStore</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
